<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Kaizone</title>
</head>
<body>

    <!-- Navbar -->

    <nav>
        <ul>
            <li><a href="#">Kaizone</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <!-- Header -->
    <div class="container">
        <header class="head">
            
        </header>
    </div>

    <!-- Showcase -->

    <div class="container">
        <section class="showcase">

        </section>
    </div>
    
    <!-- About -->
    <div class="container">
        <section class="about">

        </section>
    </div>

    <!-- Services -->
    <div class="container">
        <section class="services">

        </section>
    </div>

    <!-- Blog -->
    <div class="container">
        <section class="blog">

        </section>
    </div>

    <!-- Contact -->
    <div class="container">
        <section class="contact">

        </section>
    </div>


</body>
</html>