<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Kaizone</title>
</head>
<body>

    <!-- Header -->

    <header>
        <div class="container">
            <div class="branding">
                <h1><span class="highlight">Kaizone</span></h1>
                <nav>
                    <ul>
                        <li><a href="#">Kaizone</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Showcase -->

    <section id="showcase">
        <div class="container">
            <h3>Welcome To <span class="brand_name">Kaizone</span></h3>
            <p class="slogan">Wellness Beyond Your Dreams</p>
        </div>
    </section>

     <!-- Services -->
     <div class="container">
        <section class="services">
                <div class="card">
                    <img src="..." alt="">
                    <div class="container">
                        <h4><b>Discounts on Spa Packages</b></h4> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, porro.</p> 
                    </div>
                </div>
                <div class="card">
                    <img src="..." alt="">
                    <div class="container">
                        <h4><b>Exclusive Gym Facilities</b></h4> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, porro.</p> 
                    </div>
                </div>
                <div class="card">
                    <img src="..." alt="">
                    <div class="container">
                        <h4><b>Marriage & Family Counseling</b></h4> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, porro.</p> 
                    </div>
                </div>
                <div class="card">
                    <img src="..." alt="">
                    <div class="container">
                        <h4><b>Yearly Retreats</b></h4> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, porro.</p> 
                    </div>
                </div>
        </section>
    </div>
    
    <!-- About -->
    <div class="container">
        <section class="about">
            
        </section>
    </div>

   

    <!-- Blog -->
    <div class="container">
        <section class="blog">

        </section>
    </div>

    <!-- Contact -->
    <div class="container">
        <section class="contact">

        </section>
    </div>


</body>
</html>